{% extends "base.html" %}

{% block title %}
  home
{% endblock title %}

{% block content %}
<br><br>
  <h1><a href="{% url 'questions:create' %}" class="btn btn-primary btn-sm btn-block">Ask something to the community</a></h1>
  <br><br>
<div class="text-left">
  <h4 class="text-muted">Looking for something specific?</h4>
  <form action="{% url 'questions:search' %}" method="get">
    <input type="search" name="q" class="form-control"><br/>
  </form>
</div>
  <h3>Or explore the previous asked questions below.</h3>
<div class="container">
  {% for question in object_list %}
    <hr>
    <div class="row">
      <div class="col-lg-8">{{question.question}}</div>
      <div class="col-lg-2 text-success"><small>{{question.timestamp}}</small></div>
      <div class="col-lg-2" style="color: black;"><strong>{{question.author | title}}</strong></div>
    </div>
    <form action="{% url 'questions:like' question.pk %}" method="post">
      {% csrf_token %}
    <div class="row">
      {% if user in question.likes.all %}
      <div class="col-lg-1 mt-2">
        <label>
        <input type="submit" name="question_id" value="{{question.id}}" style="display: none;">
        <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor" class="bi bi-heart-fill text-danger" viewBox="0 0 16 16" style="cursor: pointer;">
          <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
        </svg>
      </input>
    </label>
    </div>
    {% else %}
      <div class="col-lg-1 mt-2">
        <label>
        <input type="submit" name="question_id" value="{{question.id}}" style="display: none;">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16" style="cursor: pointer;">
        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
       </svg>
      </input>
    </label>
    </div>
    {% endif %}
    <div class="col-lg-3 mt-2 text-muted"><strong class="mr-2" style="color: black;">{{question.likes_count}}</strong> <small>people like this question.</small> </div>
    <div class="col-lg-3 mt-2 text-primary"><small> <a href="{% url 'questions:details' question.pk %}" style="text-decoration: none;"> Check all the answers... </a></small></div>
    {% if request.user.is_staff or request.user == question.author %}
    <div class="col-lg-4 mt-2 text-primary text-right"><small><a href="{% url 'questions:update' question.id %}">Update</a></small><strong class="text-muted"> | <small></strong><a href="{% url 'questions:delete' question.id %}" onclick="return confirm('Are you sure to delete this question?');" class="text-danger">Delete</a></small></div>
    {% endif %}
    </div>
    </form>
    <hr>
  {% endfor %}
</div>
<br>
<br>
<div class="pagination justify-content-center">
  <span class="step-links">
      {% if page_obj.has_previous %}
          <a href="?page=1" class="btn btn-sm btn-secondary">&laquo; First</a>
          <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-sm btn-secondary">Previous</a>
      {% endif %}

      <span class="current mr-2 ml-2 text-primary">
         <small>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} </small>
      </span>

      {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}" class="btn btn-sm btn-primary">Next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-sm btn-primary">Last &raquo;</a>
      {% endif %}
  </span>
</div>
<br><br>
{% endblock content %}