{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

  </head>
  <body>
    
<div class="container text-center mt-5">
    <h1 style="font-family: 'SF-Pro Bold', sans-serif;">Question/Answer App.</h1>
    <p class="lead font-weight-normal">This website provides <b>python-programming</b> related questions and answers if you feel like you belong here create an account and enjoy.</p>
    <a class="btn btn-primary" href="{% url 'account_login' %}">Let's Go</a>
</div>
  </body>
</html>